*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background: #fff;
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 1000px;
    padding: 96px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.intro .intro-one {
    padding-bottom: 20px;
}

.intro-one p {
    font-size: 16px!important;
}

p .normal {
    font-style: italic;
}

.intro-two {
    padding-bottom: 20px;
}

.intro-two span {
    padding-left: 7px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.intro-two h2 {
    font-size: 19px;
}


.body-section__sec {
    padding: 10px 0;
}

.sec__title {
    font-size: 16px;
    padding: 2px 0 5px 0px;
    background-color: rgba(155, 146, 146, 0.45);
    border-bottom: 2px solid #000;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.body-section__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 15px;
}

.body-section__where {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: flex-end;
}

.body-section__sec  .experience-one{
    padding-bottom: 15px;
}

.where,
.date,
.course,
.school-name,
.position,
.period {
    font-style: italic;
}




